{{extend 'layout.html'}}

{{block header}}
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
{{end}}

<div class="main_content" id="topics-div" style="display:none">

    <h1>{{=topic.name}}</h1>

    <h2>Papers</h2>

    <div class="button_bar">
        <button class="btn btn-success btn-sm" v-on:click="set_primary(true)" v-bind:class="{'disabled': primary_papers}">{{=icon_primary_paper}}Primary topic papers</button>
        <button class="btn btn-success btn-sm" v-on:click="set_primary(false)" v-bind:class="{'disabled': !primary_papers}">{{=icon_all_paper}}All topic papers</button>
        <button class="btn btn-info btn-sm" v-on:click="set_scores(true)" v-bind:class="{'disabled': show_paper_scores}">{{=icon_view}}View ratings</button>
        <button class="btn btn-info btn-sm" v-on:click="set_scores(false)" v-bind:class="{'disabled': !show_paper_scores}">{{=icon_hide}}Hide ratings</button>
        <button class="btn btn-primary btn-sm" v-bind:class="{'disabled': !can_review}">{{=icon_pick_review}}Choose paper to review</button>
        <button class="btn btn-warning btn-sm" v-bind:class="{'disabled': !can_add_paper}">{{=icon_add}}Add paper</button>
    </div>

    <div id="papers-div" class="result_table">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Authors</th>
                <th v-if="show_paper_scores">N Reviews</th>
                <th v-if="show_paper_scores">Score</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="paper in papers">
                <td><span v-if="paper.is_primary_topic">{{=icon_primary_paper}}</span></td>
                <td><a v-bind:href="paper.view_url">${paper.title}</a></td>
                <td>${paper.authors}</td>
                <td v-if="show_paper_scores">${paper.num_reviews}</td>
                <td v-if="show_paper_scores">${paper.score}</td>
            </tr>
            </tbody>
        </table>

        <div id="show_more_papers" class="show_more"><span class="btn btn-default">Load more</span></div>

    </div>

    <h2>Reviewers</h2>

    <div id="reviewers-div"></div>


</div>

<script>var topic_id = "{{=topic.id}}";</script>
<script src="{{=URL('static', 'js/topic_index.js')}}"></script>
