{{extend 'layout.html'}}

{{block header}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
{{end}}

<div class="main_content">
    <div id="vue_div" style="display:none">
        <h2>Paper Revisions</h2>
        <div class="version_list">
            <div v-for="version in verions" class="paper_container">
                <div v-bind:class="'selected': version.selected, 'nonselected': !version.selected">
                    <span class="paper_version_date">
                        <i class="fa" v-bind:class="'fa-check-square': version.selected, 'fa-clock-o': !version.selected"></i>
                        Version: ${version.start_date}
                    </span>
                    <span class="paper_version_num_reviews">
                        N. Reviews: ${version.num_reviews}
                    </span>
                </div>
            </div>
        </div>


    </div>

</div>