$clrTop: #dddddd;
$clrTableLines: #ddd;
$clrNavBorder: #bbb;
$clrLightIcons: #ddd;
$clrLogoSimil: #4f80d2;
$clrLogoCheck: #ef9746;
$clrMainSplash: #aaa;
$clrLoginHelp: #aaa;
$clrTopLogin: #999;
$clrTopLoginHover: #777;
$clrIcons: #999;
$clrDarkIcons: #777;
$clrDropzoneMessages: #aaa;
$clrDropzoneBorder: $clrLogoSimil;
$clrLabels: #666;
$clrRedSpan: #ff0000;

$clrUploadIcon: #b4ceff;

$clrGreenConfirm: #339933;
$clrRedWarning: #aa1d09;
//$clrTop: #4395f9;
//$clrNavBorder: #4395f9;
//$clrLogoSimil: #ef9746;
//$clrLogoCheck: #238c23;

$clrSimCluster: #eee;
$clrClusterTitle: #d67800;
$clrDarkLink: #444;
$clrOutsideEdge: #777;
$clrLinkHover: #06a;

$clrRenamed: #afa;
$clrDifferent: #fff;
$clrIdentical: #c0d8ff;

$clrNavFg: #cbcbcb;
$clrMarked: #d67800; // Marked color for things in evidence
$clrAlerts: #3A87AD;
$clrAlertBackground: #d9edf7;
$clrAlertBorder: #b0dce5;

$clrSelectedRow: #4466ff;
